/* src/assets/styles/Navbar.css */

/* Fondo degradado para la barra de navegación */
.navbar {
  background: linear-gradient(135deg, #3b5998, #4c66a4);
  padding: 15px 30px; /* Añade padding a la izquierda y derecha */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #3498db;
}

/* Estilo para el nombre del sitio */
.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #e0e0e0 !important;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease, transform 0.3s ease;
  margin-left: 20px; /* Añade espacio a la izquierda */
}

/* Efecto hover en el nombre del sitio */
.navbar-brand:hover {
  color: #ff6347 !important;
  transform: scale(1.1);
}

/* Estilo para los enlaces de navegación */
.navbar-nav {
  flex-grow: 1; /* Permite que los enlaces ocupen todo el espacio disponible */
  justify-content: center; /* Centra los elementos */
}

.navbar-nav .nav-link {
  color: #ffffff !important;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 15px; /* Añade espacio entre los enlaces */
  transition: color 0.3s ease, transform 0.3s ease;
}

/* Efecto hover en los enlaces */
.navbar-nav .nav-link:hover {
  color: #ff6347 !important;
  transform: translateY(-2px);
}

/* Ajustes de la barra de navegación en pantallas pequeñas */
.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.3);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.7%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
